@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700');
@import './_03_core.scss';
.MuiButton-root {
  font-family: 'IRANYekan', Nunito, sans-serif !important; 
}
.MuiMenuItem-root{
  font-family: 'IRANYekan', Nunito, sans-serif !important;
}
.rtl{
  direction: rtl;
}
.ltr{
  direction: ltr;
}

